---
layout: page
title: Emmanuel Kidando
permalink: /
published: true
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      
        <div class="block">
          <h1 class="animated fadeInUp">Emmanuel Kidando</h1>
          <hr style="height:5px; border:none; color:#e2e2e2; background-color:#e2e2e2;">
          <h2 class="animated fadeInUp">PhD Candidate & Researcher at Florida State University</h2>
          <p class="animated fadeInUp">I Enjoy Applying Data Analytics and Modeling Skills in Transportation Engineering Research</p>
            
      </div>
    </div>
  </div>

</section>

<!-- Research Interest and Education -->
<section id="introo" class="selectedColorr selectedColortx">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block">

  <h1 class="animated fadeInUp">Interests</h1>
 <ul style="list-style-type:disc">
<li class="animated fadeInUp"> Intelligent Transportation Systems</li>
<li class="animated fadeInUp"> Autonomous and Connected Vehicles Technology</li>
<li class="animated fadeInUp"> Data Collection Methods and Data Visualization in Transportation</li>
<li class="animated fadeInUp"> Application of Advanced Statistical Analysis in Transportation</li>
<li class="animated fadeInUp"> Traffic Safety Analysis and Modeling</li>
<li class="animated fadeInUp"> Traffic Operations Modeling and Simulation</li>
 </ul>

      </div>
      </div><!-- .col-md-7 close -->
     
      
 <div class="col-md-6 col-xs-push-1">
 <div class="block">
   
   <h1>Education</h1>
 <ul style="list-style-type:disc">
<li class="animated fadeInUp"> PhD in Civil Engineering - Expected Spring 2019</li>
   <p class="animated fadeInUp"> Florida State University, FL</p>
<li class="animated fadeInUp"> Masters in Civil and Transportation Engineering - 2015</li>
   <p class="animated fadeInUp"> Tennessee State University, TN</p>
<li class="animated fadeInUp"> BSc in Civil and Structural Engineering - 2012</li>
  <p class="animated fadeInUp"> University of Dar es Salaam, Tanzania</p>
 </ul>
   
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>

  </section>   

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
       </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                
                <p><span>{{ tm.name }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="">
                  
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Idea, Comments, Questions or Just Want to Chat?</h2>          
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Contacts</a>
     
        </div>
      </div>
    </div>
  </div>
</section>
