---
layout: page
title: Emmanuel Kidando
permalink: /
published: true
---
<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      
        <div class="block">
          <h1 class="animated fadeInUp">Emmanuel Kidando</h1>
          <hr style="height:5px; border:none; color:#e2e2e2; background-color:#e2e2e2;">
          <h2 class="animated fadeInUp">PhD Candidate & Researcher at Florida State University</h2>
          <p class="animated fadeInUp">I enjoy applying data analytics and modeling skills to solve Transportation Engineering problems</p>
           
      </div>
    </div>
  </div>

</section>


<!-- About me -->
<section id="intro">
  <div class="container">
    <div class="row">
       <div class="col-md-5 col-sm-12">
        <div class="block">
          
         <img class="centered-and-cropped" width="400" height="400" style="border-radius:50%; opacity: 0.8;" src="img/profile.jpg" alt="Img">
          
         <ul class="social-icons">
            <li>
              <a href="https://scholar.google.com/citations?user=_lygxIQAAAAJ&hl=en"><i class="fa fa-google"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/emmanuel-kidando-72b42b43/"><i class="fa fa-linkedin"></i></a>
		    
            </li>
 
           </ul>  
        </div>
      </div><!-- .col-md-5 close -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
          
            <h2 class="animated fadeInUp">About me</h2>
            <p class="animated fadeInUp">
            I am a PhD Candidate in Civil and Transportation Engineering at Florida State University. I am currently working on Connected Vehicle project which involve deployment, testing, Data Analytics and Visualization under supervision of <a href="http://www.eng.fsu.edu/~moses/">Dr. Ren Moses</a>
            </p>
            
            <p class="animated fadeInUp">My practical experience also extend from Traffic Safety Analysis, Operations and Simulation to the application of advanced statistical models (Bayesian data analytics and Machine learning) in addressing transportation engineering problems. I have implemented real-time data collection algorithms for Intelligent Transportation Systems, data analytics and visualization of connected vehicle data. </p>
         
          </div>
      </div><!-- .col-md-7 close -->
     
    </div>
  </div>
</section>

<!-- Research Interest and Education -->
<section id="introo" class="selectedColorw selectedColortxx">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block">

  <h1 class="animated fadeInUp">Interests</h1>
 <ul style="list-style-type:disc">
<li class="animated fadeInUp"> Intelligent Transportation Systems</li>
<li class="animated fadeInUp"> Autonomous and Connected Vehicles Technology</li>
<li class="animated fadeInUp"> Data Collection Methods and Data Visualization in Transportation</li>
<li class="animated fadeInUp"> Application of Advanced Statistical Analysis in Transportation</li>
<li class="animated fadeInUp"> Traffic Safety Analysis and Modeling</li>
<li class="animated fadeInUp"> Traffic Operations Modeling and Simulation</li>
 </ul>

      </div>
      </div><!-- .col-md-7 close -->
     
      
 <div class="col-md-6 col-xs-push-1">
 <div class="block">
   
   <h1>Education</h1>
 <ul style="list-style-type:disc">
<li class="animated fadeInUp"> PhD in Civil Engineering - Expected Spring 2019</li>
   <p class="animated fadeInUp"> Florida State University, FL</p>
<li class="animated fadeInUp"> Masters in Civil and Transportation Engineering - 2015</li>
   <p class="animated fadeInUp"> Tennessee State University, TN</p>
<li class="animated fadeInUp"> BSc in Civil and Structural Engineering - 2012</li>
  <p class="animated fadeInUp"> University of Dar es Salaam, Tanzania</p>
 </ul>
   
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>

  </section>   

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
       </div>
    <div class="row">
      <div class="col-md-12">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                
                <p><span>{{ tm.name }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="">
                  
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Idea, Comments, Questions or Just Want to Chat?</h2>          
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Contacts</a>
     
        </div>
      </div>
    </div>
  </div>
</section>
