<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
        <a href="{{ site.baseurl }}/" class="btn btn-default btn-lg" role="button">Home</a>
       <a href="research.html" class="btn btn-default btn-lg" role="button">Research projects</a>
       <a href="experience.html" class="btn btn-default btn-lg" role="button">Experience</a>
      <a href="publictn.html" class="btn btn-default btn-lg" role="button">Publications</a>
     <a href="software.html" class="btn btn-default btn-lg" role="button">Software development</a>
    <a href="publication.html" class="btn btn-default btn-lg" role="button">Data visualization</a>
	<a href="File/Kidando_CV2.pdf" class="btn btn-default btn-lg" 
           target="_blank" role="button">Download CV</a> 
          </ul>
        </div>
       </div>
    </div>
  </div>
</footer>
