<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
        <a href="{{ site.baseurl }}/" class="btn btn-default btn-lg" role="button">Home</a>
       <a href="{{ site.baseurl }}/research" class="btn btn-default btn-lg" role="button">Research projects</a>
       <a href="{{ site.baseurl }}/experience" class="btn btn-default btn-lg" role="button">Experience & Skills </a>
      <a href="{{ site.baseurl }}/publications" class="btn btn-default btn-lg" role="button">Publications</a>
     <a href="{{ site.baseurl }}/software" class="btn btn-default btn-lg" role="button">Software & Data Visualization</a>
	<a href="{{ site.baseurl }}/pdf_files/MyCV.pdf	
" class="btn btn-default btn-lg" 
           target="_blank" role="button">Download CV</a> 
<a href="{{ site.baseurl }}/miscellaneous" class="btn btn-default btn-lg" role="button">Miscellaneous</a>

          </ul>
        </div>
       </div>
    </div>
  </div>
</footer>
