<!-- Header Start -->
<a href="#menu" id="toggle"><span></span></a>

 <div id="menu">
  <!--<a> MENU </a>-->
<ul>
    <li> <a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/research">Research Projects</a></li>
                <li><a href="{{ site.baseurl }}/experience">Experience</a></li>
                <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
                <li><a href="{{ site.baseurl }}/software">Software & Data Visualization</a></li>
                <li><a href="{{ site.baseurl }}/pdf_files/MyCV.pdf	
" target="_blank">Download CV</a></li>
                
            </ul>
 </div>
<!-- header close -->
