<!-- Header Start -->
<header>
 <div id="mySidenav" class="sidenav">
  <!--<a> MENU </a>-->
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/research">Research Projects</a></li>
                <li><a href="{{ site.baseurl }}/experience">Experience</a></li>
                <li><a href="{{ site.baseurl }}/publications">Publications</a></li>
                <li><a href="{{ site.baseurl }}/software">Software & Data Visualization</a></li>
                <li><a href="{{ site.baseurl }}/pdf_files/MyCV.pdf	
" target="_blank">Download CV</a></li>
                
            </div>

<div id="main">
 <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
 </div>
</header><!-- header close -->
