<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>

    
    {% if page.title !='TSMO'%}
    {% if page.title != 'Safety'%}
    {% if page.title != 'Data Analytics'%}
    {% if page.title != 'Contacts'%}
    {% include header.html %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
   


    {{ content }}








    {% if page.title !='TSMO'%}
    {% if page.title != 'Safety'%}
    {% if page.title != 'Data Analytics'%}
    {% if page.title != 'Contacts'%}
    {% include footer.html %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
    </body>
</html>
