<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>

    
    {% if page.title !='TSMO'%}
    {% if page.title != 'Safety'%}
    {% if page.title != 'Data Analytics'%}
    {% include header.html %}
    {% endif %}
    {% endif %}
    {% endif %}
   


    {{ content }}








    {% if page.title !='TSMO'%}
    {% if page.title != 'Safety'%}
    {% if page.title != 'Data Analytics'%}
    {% include footer.html %}
    {% endif %}
    {% endif %}
    {% endif %}

    </body>
</html>
