<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}

  </head>
  <body>

    
    {% if page.title !='TSMO'%}
    {% if page.title != 'Safety'%}
    {% if page.title != 'Data Analytics'%}
    {% if page.title != 'Contacts'%}
    {% include header.html %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
   


    {{ content }}








    {% if page.title !='TSMO'%}
    {% if page.title != 'Safety'%}
    {% if page.title != 'Data Analytics'%}
    {% if page.title != 'Contacts'%}
    {% include footer.html %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    
    
    </body>
</html>
